.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
 	.modal_content {
 	border-radius: 10px;
    background-color: rgb(240,240,240);
    margin: 250px auto;
    width: 350px;
    height: 330px;                          
    }
    .modal_content #wrap1{
    margin: 0 auto; /* 15% from the top and centered */
    height: 330px;
    }
    .modal_content #wrap1 #exit{
    width: 50px;
    height: 50px;
    float: right;
    }
    .modal_content #wrap1 #log_logo{
    width: 100px;
    height: 70px;
    position: relative;
    top: 35px;
    left: 130px;
    }
    .modal_content #wrap1 #wrap2 {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    left: 80px; 
    }
    .modal_content #wrap1 #wrap2 input {
    clear: both; 
    overflow:auto;
    display: block;
    width:200px;
    margin: 0 auto;
    }
    .modal_content #wrap1 #wrap3 {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    left: 78px; 
    }
    .modal_content #wrap1 #wrap3 button{
 	display:inline-block;
 	width: 90%;
 	height: 40px;
 	background: rgb(200,200,200);
 	border-radius: 5px;
 	border: none;
 	margin:20px auto;
 	cursor:pointer;
 	font:16px normal;
    }
    .modal_content #wrap1 #wrap3 p{
    margin-top: 0;
    position: relative;
   	left: -10px;
    } 